{extend name="public:base" /}
{block name="content"}
<div class="container">
    <div class="row">
        <div class="col-md-4 pull-right">
            <div class="panel">
                <div class="panel-heading">最新订单 <i class="icon icon-spin icon-spinner-snake"></i></div>
                <div class="list-group">
                    <a href="javascript:;" class="list-group-item"><span class="label label-primary">{:date('Y-m-d')}</span> <span class="label">EURUSD</span> <span class="label label-badge label-success"><i class="icon icon-level-down"></i></span></a>
                    <a href="javascript:;" class="list-group-item"><span class="label label-primary">{:date('Y-m-d')}</span> <span class="label">EURUSD</span> <span class="label label-badge label-danger"><i class="icon icon-level-up"></i></span></a>
                    <a href="javascript:;" class="list-group-item"><span class="label label-primary">{:date('Y-m-d')}</span> <span class="label">EURUSD</span> <span class="label label-badge label-success"><i class="icon icon-level-down"></i></span></a>
                    <a href="javascript:;" class="list-group-item"><span class="label label-primary">{:date('Y-m-d')}</span> <span class="label">EURUSD</span> <span class="label label-badge label-success"><i class="icon icon-level-down"></i></span></a>
                    <a href="javascript:;" class="list-group-item"><span class="label label-primary">{:date('Y-m-d')}</span> <span class="label">EURUSD</span> <span class="label label-badge label-danger"><i class="icon icon-level-up"></i></span></a>
                    <a href="javascript:;" class="list-group-item"><span class="label label-primary">{:date('Y-m-d')}</span> <span class="label">EURUSD</span> <span class="label label-badge label-success"><i class="icon icon-level-down"></i></span></a>
                    <a href="javascript:;" class="list-group-item"><span class="label label-primary">{:date('Y-m-d')}</span> <span class="label">EURUSD</span> <span class="label label-badge label-danger"><i class="icon icon-level-up"></i></span></a>
                    <a href="javascript:;" class="list-group-item"><span class="label label-primary">{:date('Y-m-d')}</span> <span class="label">EURUSD</span> <span class="label label-badge label-success"><i class="icon icon-level-down"></i></span></a>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">推荐工具 <i class="icon icon-key"></i></div>
                <div class="panel-body">
                    <button class="btn btn-block btn-primary" type="button" data-iframe="https://tickmill.autochartist.com/to/?broker_id=520&account_type=LIVE&user=595733&token=a9f5e6296b5b780520ae4c12935bd6d4&locale=zh" data-icon="dollar" data-toggle="modal" data-size="fullscreen">
                        交易信号
                        <i class="icon icon-rss"></i>
                    </button>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">推荐图书 <i class="icon icon-book"></i></div>
                <div class="panel-body">
                    <div class="cards cards-condensed">
                        <div class="col-md-6 col-sm-6">
                            <a class="card" href="http://xiong.yiivii.com" target="_blank">
                                <img src="https://box.kancloud.cn/fb1c3b3f6689b5978542a8a5ee3a8ede_865x1155.jpg" alt="小熊K线形态">
                                <div class="caption">武哥出品</div>
                                <div class="card-heading"><strong>小熊K线形态</strong></div>
                                <div class="card-content text-muted">详细记录100+个已成功验证的交易形态</div>
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <a class="card" href="http://harmonic.yiivii.com" target="_blank">
                                <img src="https://box.kancloud.cn/cfc96140589ce1912b0e0313f5b4ac99_384x499.jpg" alt="谐波交易">
                                <div class="caption">武哥出品</div>
                                <div class="card-heading"><strong>谐波交易</strong></div>
                                <div class="card-content text-muted">图解蝴蝶理论交易法则</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer"><a href="http://open.wugemang.com" target="_blank" class="small">武哥更多精品 <i class="icon icon-long-arrow-right"></i></a></div>
            </div>
        </div>
        <div class="col-md-8 pull-left">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="header-dividing my-mt20">你是否经常这样：</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <h3>交易前的心情 <i class="icon icon-smile"></i></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>交易后的心情 <i class="icon icon-frown"></i></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-red"><i class="icon icon-quote-left icon-2x"></i> Fuck ! 这不是我想要的 ... <i class="icon icon-chat-dot icon-2x"></i></h2>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="header-dividing">成功交易，或许你需要：</h2>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li>认真对待每一笔交易</li>
                        <li>以最简洁的方式记录/总结日常交易得失</li>
                        <li>让每一笔交易都能成为盈利道路的垫脚石</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="header-dividing">伊娃交易日志系统 功能：</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <h3>记录入场时间 <i class="icon icon-time"></i></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <h3>记录入场点位 <i class="icon icon-line-chart"></i></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <h3>填写入场理由 <i class="icon icon-tint"></i></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>持仓时间 <i class="icon icon-time"></i></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>盈亏金额 <i class="icon icon-dollar"></i></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>订单小结 <i class="icon icon-coffee"></i></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-red">坚持总结记录 <i class="icon icon-spin icon-refresh icon-2x"></i></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-red"><a href="{:url('/')}" class="btn btn-danger">立即登记</a> &nbsp; 开始锻造你的成功交易密码 <i class="icon icon-key"></i></h3>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}