
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>今日策略</title>
</head>
<body style="margin:0px;padding:0px;overflow:hidden;">
<form style="width:100%;height:100%;">
    <iframe src="https://site.recognia.com/exness/serve.shtml" style="margin:0;padding:0;height:100%;width:100%;border:none;"></iframe>
	<!--https://newsletters.tradingcentral.com/view.aspx?pk_mail_nl=3559-->
</form>
</body>
</html>