<script>
    //删除自带模态框
    $("#triggerModal").remove();
    //漂浮消息
    var myMessager = new $.zui.Messager({icon:'warning-sign',type:'danger',placement:'center'});
    bootbox.prompt({
        title: "请输入Email注册或者登陆",
        inputType: 'email',
        callback: function (email) {
            //邮箱空值验证
            if(email){
                //定义邮箱正则
                var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                //我要开始验证啦
                if(!reg.test(email)){
                    //哈哈哈，没通过
                    myMessager.show('邮箱格式不正确!');
                    return false;
                }else{
                    //666，邮箱验证通过，提交后台
                    $.post("{:url('login/email')}",{email:email},function(data){
                        //查看你都干了些什么
                        if(data.code == 500){
                            //一切顺利，弹出验证码输入框
                            bootbox.prompt({
                                title: "请填写邮箱收到的登陆码",
                                inputType: 'number',
                                callback: function (number) {
                                    //验证码规则验证
                                    if(number){
                                        var reg = /^\d{4}$/;
                                        if(!reg.test(number)){
                                            myMessager.show('登陆码格式不正确!');
                                            return false;
                                        }else{
                                            $.post("{:url('login/dologin')}",{salt:number},function(data){
                                                if(data.code == 500){
                                                    myMessager.show('登陆成功');
                                                }else{
                                                    myMessager.show('登陆失败');
                                                    return false;
                                                }

                                            });
                                        }
                                    }else{
                                        myMessager.show('请输入邮箱收到的登陆码!');
                                        return false;
                                    }
                                }
                            });
                        }else{
                            return false;
                        }
                    });
                    return true;
                }
            }else{
                myMessager.show('Email不能为空!');
                return false;
            }
        }
    });
</script>