<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{block name="title"}伊娃交易日志，交易员作手回忆录{/block}</title>
    {load href="/dist/css/zui.min.css,/dist/css/zui-theme-black.css" /}
    <!--[if lt IE 9]>
    <script src="/dist/lib/ieonly/html5shiv.js"></script>
    <script src="/dist/lib/ieonly/respond.js"></script>
    <script src="/dist/lib/ieonly/excanvas.js"></script>
    <![endif]-->
</head>
<body>
<!--[if lt IE 8]>
<div class="alert alert-danger">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a href="//browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
<![endif]-->
{block name="content"}{/block}
{load href="/dist/lib/jquery/jquery.js,/dist/js/zui.min.js" /}
</body>
</html>