<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>{block name="title"}伊娃交易日志 - 交易员作手回忆录{/block}</title>
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="伊娃交易日志,外汇,黄金,股指,交易员作手回忆录">
    <meta name="description" content="伊娃交易日志，外汇黄金股指,交易员作手回忆录，交易成功路上的好伙伴。">
    {load href="/dist/css/zui.min.css,/dist/css/zui-theme-black.css,/dist/lib/bootbox/bootbox.min.css" /}
    <!--[if lt IE 9]>
    {load href="/dist/lib/ieonly/html5shiv.js,/dist/lib/ieonly/respond.js,/dist/lib/ieonly/excanvas.js" /}
    <![endif]-->
    <style>
        .my-mt20 {margin-top: 20px;}
        .my-pt20 {padding-top: 20px;}
        .index-user .panel-body a {margin-bottom: 10px;}
    </style>
</head>
<body>
<!--[if lt IE 8]>
<div class="alert alert-danger">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a href="//browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
<![endif]-->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- 导航头部 -->
        <div class="navbar-header">
            <!-- 移动设备上的导航切换按钮 -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-top">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- 品牌名称或logo -->
            <a class="navbar-brand" href="{:url('/')}"><i class="icon icon-home"></i> 伊娃交易日志</a>
        </div>
        <!-- 导航项目 -->
        <div class="collapse navbar-collapse navbar-collapse-top">
            <!-- 一般导航项目 -->
            <ul class="nav navbar-nav">
                <li><a href="{:url('/')}">会员列表</a></li>
                <li><a href="javascript:;" data-remote="{:url('index/howtouse')}" data-icon="bell" data-title="如何使用" data-toggle="modal">如何使用</a></li>
            </ul>
            <!-- 右侧的导航项目 -->
            <ul class="nav navbar-nav navbar-right">
                {eq name="Think.session.status" value="1000"}
                <li><a href="javascript:;" data-remote="{:url('login/index')}" data-show-header="false" data-toggle="modal" data-backdrop="false">登录 <i class="icon icon-signin"></i></a></li>
                {else}
                <li><a href="{:url('login/loginout')}">退出 <i class="icon icon-signout"></i></a></li>
                {/eq}
            </ul>
        </div><!-- END .navbar-collapse -->
    </div>
</nav>
{block name="content"}{/block}
<div class="container-fluid bg-black my-mt20">
    <div class="row">
        <div class="col-md-12 text-center my-pt20">
            <p class="with-padding">本程序已加入 <a href="https://github.com/hswddan/yiivii" class="text-muted" target="_blank">gitHub</a> 开源平台，可以免授权使用</p>
            <p class="with-padding">&#169; {:date('Y')} <a href="http://wugemang.com" class="text-muted" target="_blank">武哥很忙</a> 出品</p>
        </div>
    </div>
</div>
{load href="/dist/lib/jquery/jquery.js,/dist/js/zui.min.js,/dist/lib/bootbox/bootbox.min.js,/dist/js/jquery.lazyload.min.js" /}
<script>
    //加载img
    $("img.lazy").lazyload({effect: "fadeIn"});
    {eq name="Think.session.status" value="1002"}
        bootbox.prompt({
            title: "请设置用户名",
            inputType: 'text',
            callback: function (name) {
                if(name == '') return false;
                $.post("{:url('member/setuser')}",{nikename:name},function(){
                    return true;
                });
            }
        });
    {/eq}
</script>
{block name="script"}{/block}
</body>
</html>