{extend name="public:base" /}
{block name="content"}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="list list-condensed">
                <header>
                    <h3>
                        <a href="javascript:;" class="btn btn-danger pull-right" data-remote="{:url('member/add')}" data-icon="plus" data-title="新增一个交易记录" data-toggle="modal">新增交易 <i class="icon icon-plus"></i></a>
                        <i class="icon-list-ul"></i> 交易日志
                    </h3>
                </header>
                <div class="items items-hover">
                    <div class="item">
                        <div class="item-heading">
                            <div class="pull-right">
                                入场价 <a href="javascript:;" class="my-editable" data-type="text" data-name="open" data-url="{:url('member/edit')}" data-pk="0" data-title="入场点">1.1400</a> &nbsp;
                                平仓价 <a href="javascript:;" class="my-editable" data-type="text" data-name="close" data-url="{:url('member/edit')}" data-pk="0" data-title="出场点">1.1450</a> &nbsp;
                                浮亏数 <a href="javascript:;" class="my-editable" data-type="text" data-name="power" data-url="{:url('member/edit')}" data-pk="0" data-title="浮亏">-50</a>
                            </div>
                            <h4>
                                <a href="javascript:;" class="label label-success"><i class="icon icon-level-down"></i></a>
                                <a href="javascript:;" class="my-editable" data-type="text" data-name="tag" data-url="{:url('member/edit')}" data-pk="0" data-title="品种">EURUSD</a>
                            </h4>
                        </div>
                        <div class="item-content">
                            <div class="text">
                                <a href="javascript:;" class="my-editable" data-type="textarea" data-name="mark" data-url="{:url('member/edit')}" data-pk="0" data-title="总结">突破回撤入场，止损不大，此方法可以循环使用</a>
                            </div>
                        </div>
                        <div class="item-footer">
                            <span class="text-muted">{:date('Y-m-d H:i')}</span>&nbsp;<i class="icon icon-double-angle-right"></i>&nbsp;<span class="text-muted">{:date('Y-m-d H:i')}</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-heading">
                            <div class="pull-right">
                                入场价 <a href="javascript:;" class="my-editable" data-type="text" data-name="open" data-url="" data-pk="0" data-title="入场点">1.1400</a> &nbsp;
                                平仓价 <a href="javascript:;" class="my-editable" data-type="text" data-name="close" data-url="" data-pk="0" data-title="出场点">1.1450</a> &nbsp;
                                浮亏数 <a href="javascript:;" class="my-editable" data-type="text" data-name="power" data-url="" data-pk="0" data-title="浮亏">-50</a>
                            </div>
                            <h4>
                                <a href="javascript:;" class="label label-success"><i class="icon icon-level-down"></i></a>
                                <a href="javascript:;" class="my-editable" data-type="text" data-name="tag" data-url="" data-pk="0" data-title="品种">EURUSD</a>
                            </h4>
                        </div>
                        <div class="item-content">
                            <div class="text">
                                <a href="javascript:;" class="my-editable" data-type="textarea" data-name="mark" data-url="" data-pk="0" data-title="总结">突破回撤入场，止损不大，此方法可以循环使用</a>
                            </div>
                        </div>
                        <div class="item-footer">
                            <span class="text-muted">{:date('Y-m-d H:i')}</span>&nbsp;<i class="icon icon-double-angle-right"></i>&nbsp;<span class="text-muted">{:date('Y-m-d H:i')}</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-heading">
                            <div class="pull-right">
                                入场价 <a href="javascript:;" class="my-editable" data-type="text" data-name="open" data-url="" data-pk="0" data-title="入场点">1.1400</a> &nbsp;
                                平仓价 <a href="javascript:;" class="my-editable" data-type="text" data-name="close" data-url="" data-pk="0" data-title="出场点">1.1450</a> &nbsp;
                                浮亏数 <a href="javascript:;" class="my-editable" data-type="text" data-name="power" data-url="" data-pk="0" data-title="浮亏">-50</a>
                            </div>
                            <h4>
                                <a href="javascript:;" class="label label-success"><i class="icon icon-level-down"></i></a>
                                <a href="javascript:;" class="my-editable" data-type="text" data-name="tag" data-url="" data-pk="0" data-title="品种">EURUSD</a>
                            </h4>
                        </div>
                        <div class="item-content">
                            <div class="text">
                                <a href="javascript:;" class="my-editable" data-type="textarea" data-name="mark" data-url="" data-pk="0" data-title="总结">突破回撤入场，止损不大，此方法可以循环使用</a>
                            </div>
                        </div>
                        <div class="item-footer">
                            <span class="text-muted">{:date('Y-m-d H:i')}</span>&nbsp;<i class="icon icon-double-angle-right"></i>&nbsp;<span class="text-muted">{:date('Y-m-d H:i')}</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-heading">
                            <div class="pull-right">
                                入场价 <a href="javascript:;" class="my-editable" data-type="text" data-name="open" data-url="" data-pk="0" data-title="入场点">1.1400</a> &nbsp;
                                平仓价 <a href="javascript:;" class="my-editable" data-type="text" data-name="close" data-url="" data-pk="0" data-title="出场点">1.1450</a> &nbsp;
                                浮亏数 <a href="javascript:;" class="my-editable" data-type="text" data-name="power" data-url="" data-pk="0" data-title="浮亏">-50</a>
                            </div>
                            <h4>
                                <a href="javascript:;" class="label label-success"><i class="icon icon-level-down"></i></a>
                                <a href="javascript:;" class="my-editable" data-type="text" data-name="tag" data-url="" data-pk="0" data-title="品种">EURUSD</a>
                            </h4>
                        </div>
                        <div class="item-content">
                            <div class="text">
                                <a href="javascript:;" class="my-editable" data-type="textarea" data-name="mark" data-url="" data-pk="0" data-title="总结">突破回撤入场，止损不大，此方法可以循环使用</a>
                            </div>
                        </div>
                        <div class="item-footer">
                            <span class="text-muted">{:date('Y-m-d H:i')}</span>&nbsp;<i class="icon icon-double-angle-right"></i>&nbsp;<span class="text-muted">{:date('Y-m-d H:i')}</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-heading">
                            <div class="pull-right">
                                入场价 <a href="javascript:;" class="my-editable" data-type="text" data-name="open" data-url="" data-pk="0" data-title="入场点">1.1400</a> &nbsp;
                                平仓价 <a href="javascript:;" class="my-editable" data-type="text" data-name="close" data-url="" data-pk="0" data-title="出场点">1.1450</a> &nbsp;
                                浮亏数 <a href="javascript:;" class="my-editable" data-type="text" data-name="power" data-url="" data-pk="0" data-title="浮亏">-50</a>
                            </div>
                            <h4>
                                <a href="javascript:;" class="label label-success"><i class="icon icon-level-down"></i></a>
                                <a href="javascript:;" class="my-editable" data-type="text" data-name="tag" data-url="" data-pk="0" data-title="品种">EURUSD</a>
                            </h4>
                        </div>
                        <div class="item-content">
                            <div class="text">
                                <a href="javascript:;" class="my-editable" data-type="textarea" data-name="mark" data-url="" data-pk="0" data-title="总结">突破回撤入场，止损不大，此方法可以循环使用</a>
                            </div>
                        </div>
                        <div class="item-footer">
                            <span class="text-muted">{:date('Y-m-d H:i')}</span>&nbsp;<i class="icon icon-double-angle-right"></i>&nbsp;<span class="text-muted">{:date('Y-m-d H:i')}</span>
                        </div>
                    </div>
                </div>
                <footer>
                    page
                </footer>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
{load href="/dist/css/bootstrap-editable.css,/dist/js/bootstrap-editable.min.js" /}
<script>
//修改内容
$('.my-editable').editable({
    mode:'inline'
});
</script>
{/block}