{extend name="public:base" /}
{block name="content"}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="list">
                <header>
                    <h3><i class="icon-list-ul"></i> 交易日志
                        <a href="javascript:;" class="small">新增</a>
                    </h3>
                </header>
                <div class="items items-hover">
                    <div class="item">
                        <div class="item-heading">
                            <div class="pull-right">
                                入场<a href="javascript:;">1.1400</a> &nbsp;
                                平仓<a href="javascript:;">1.1450</a> &nbsp;
                                浮亏<a href="javascript:;">-50</a>
                            </div>
                            <h4>
                                <a href="javascript:;" class="label label-success"><i class="icon icon-level-down"></i></a>
                                <a href="javascript:;">EURUSD</a>
                            </h4>
                        </div>
                        <div class="item-content">
                            <div class="text">突破回撤入场，止损不大，此方法可以循环使用</div>
                        </div>
                        <div class="item-footer">
                            <span class="text-muted">{:date('Y-m-d H:i:s')}</span>
                        </div>
                    </div>
                </div>
                <footer>
                    page
                </footer>
            </div>
        </div>
    </div>
</div>
{/block}