{extend name="public:base" /}
{block name="content"}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="list list-condensed">
                <header>
                    <h3>
                        <a href="javascript:;" class="btn btn-danger pull-right" data-remote="{:url('member/add')}" data-icon="plus" data-title="新增一个交易记录" data-moveable="true" data-toggle="modal" data-size="lg">新增交易 <i class="icon icon-plus"></i></a>
                        <i class="icon-list-ul"></i> 交易日志
                    </h3>
                </header>
                <div class="items items-hover">
                    {volist name="list" id="vo" empty="列表空荡荡，点击右上角新增一个订单日志吧 :-)"}
                    <div class="item">
                        <div class="item-heading">
                            <div class="pull-right">
                                入场价 <a href="javascript:;" class="my-editable" data-type="text" data-name="open" data-url="{:url('member/edit')}" data-pk="{$vo.id}" data-title="入场点">{$vo.open|default="0"}</a> &nbsp;
                                平仓价 <a href="javascript:;" class="my-editable" data-type="text" data-name="close" data-url="{:url('member/edit')}" data-pk="{$vo.id}" data-title="出场点">{$vo.close|default="0"}</a> &nbsp;
                                浮亏数 <a href="javascript:;" class="my-editable" data-type="text" data-name="power" data-url="{:url('member/edit')}" data-pk="{$vo.id}" data-title="浮亏数">{$vo.power|default="0"}</a>
                            </div>
                            <h4>
                                {egt name="vo.type" value="0"}
                                <span class="label label-danger"><i class="icon icon-level-up"></i></span>
                                {else/}
                                <span class="label label-success"><i class="icon icon-level-down"></i></span>
                                {/egt}
                                <a href="javascript:;" class="my-editable" data-type="text" data-name="tag" data-url="{:url('member/edit')}" data-pk="{$vo.id}" data-title="品种">{$vo.tag}</a>
                                <a href="{:url('member/index',['tag'=>urlencode($vo.tag)])}" title="相同记录"><i class="icon icon-link"></i></a>
                            </h4>
                        </div>
                        <div class="item-content">
                            <div class="text">
                                <a href="javascript:;" class="my-editable" data-type="textarea" data-name="mark" data-url="{:url('member/edit')}" data-pk="{$vo.id}" data-title="总结">{$vo.mark|default="交易总结：什么都没写"}</a>
                            </div>
                        </div>
                        <div class="item-footer">
                            <span class="text-muted">{:date('Y-m-d H:i',$vo.create_time)}</span>&nbsp;<i class="icon icon-double-angle-right"></i>&nbsp;<span class="text-muted">{:date('Y-m-d H:i',$vo.update_time)}</span>
                        </div>
                    </div>
                    {/volist}
                </div>
                <footer>
                    {$list->render()}
                </footer>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
{load href="/dist/css/bootstrap-editable.css,/dist/js/bootstrap-editable.min.js" /}
<script>
//修改内容
$('.my-editable').editable({
    mode:'inline'
});
</script>
{/block}